node_modules
.vscode
group-meeting/page 50.png
group-meeting/page 51.png
group-meeting/page 52.png
group-meeting/page 53.png
group-meeting/page 54.png
group-meeting/page 55.png
group-meeting/page 56.png
group-meeting/page 57.png
group-meeting/page 58.png
