// 字體顏色
.red { color: #a52a2acc; }
.blue { color: #0000ffb2; }
// 背景顏色
.orange { background-color: peachpuff; }
.yellow { background-color: lightgoldenrodyellow; }

// 文字大小控制列，固定與頁面底部
.navbar {
  background-color: teal;
  position: fixed;
  bottom: 0;
  width: 100%;
  button {
    background-color: teal;
    border: 0;
    color: white;
    padding: 10px 20px;
    font-size: 28px; // 按鈕文字大小
    cursor: pointer;
  }
  span {
    color: gray;
    font-size: 28px;
  }
}
// 列印時隱藏控制列
@media print {
  .navbar {
    display: none;
  }
}

// 主要內容
#content {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 2em; // 預設文字大小 
  font-weight: semibold;
  line-height: 1.3;
  color: #000000CC;
  margin-bottom: 100px;
  h1 {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1.1em;
  }
}
